@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: "";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}

.recharts-sector,
.recharts-curve,
.recharts-polygon {
  outline: none;
}

.recharts-sector:focus,
.recharts-curve:focus,
.recharts-polygon:focus {
  outline: none;
}
